body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

/* L i*/
ul,
ol {

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    list-style: none;
    object-fit: cover;

}
/* fa */
.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.gallery-link {
    width: 415px;
    height: 215px;
    display: block;
}

.gallery-item {
    width: 415px;
    height: 215px;
    display: block;
}

/* sa */