.gallery-a,
.form-a {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    transition: all 0.3s ease;
}
.gallery-form {
    list-style-type: none;
}

.gallery-a {
    background-color: #4CAF50;
}

.form-a {
    background-color: #2196F3;
}

.gallery-a:hover,
.form-a:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}